<!doctype html>
<html>
    <h1>请登录</h1>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/style/bootstrap/bootstrap-theme.css">

    <script data-main="js/app/login.js" src="js/require.js" ></script>
    <!--<script  src="js/app/login.js"></script>-->

</head>
<body>
    <form action="<%=action%>">
        <fieldset>
            <label>用户名</label>
            <input id="id_name" name="name" placeholder="请输入" value="yyk">

            <label>密码</label>
            <input name="password" value="111111">
            <%if(err != null ){%>
            <div><%=err.err%></div>
            <%}%>
        </fieldset>
        <button>submit</button>
    </form>
</body>

</html>